

 @font-face {
     font-family: "Primetime";
     src: url('PRIMETIME ╕ PERSONAL USE ONLY.ttf');
 }


/*----------border-box-reset---------------------------------*/
* { -moz-box-sizing: border-box; -webkit-box-sizing: border-box; box-sizing: border-box; }

/*----true-for-homepage-smallest-width-first-----------------*/
        body{
            font-family: 'Primetime', sans-serif;
            text-transform: uppercase;
            color: #000;
            font-size: medium;
            position: relative;
        }

        header{
            z-index: 2;
            position: fixed;
            top:0;
            width: 100%;
            padding-top: 3.5%;
        }

            header h1, h2{
                display: inline;
                font-size: 20px;
                margin: 0 4%;
                transition: color .4s ease;
            }

            header h2{
                float: right;
                }

            header h1:hover,h2:hover{
                color: #888;
            }  

        a{
            color:inherit;
            text-decoration: none;
        }



            #thumbnails{
                background: blue;
                overflow: auto;
                text-align: center;
                margin: 10% 4% 0 4%;
            }

                #thumbnails h3{
                    display: none;
                }

                #thumbnails a{
                    display: block;
                    width: 33.3%;
                    float: left;
                    padding-right:1%;
                }

                #thumbnails a img{
                    width: 100%;
                    margin: 0;
                    padding: 0;
                }



/*--------------765px-to-980px-wide---------------------------------*/
    @media screen and (min-width: 765px) and (max-width: 980px){
           
        #thumbnails a{
            width: 20%;
            padding-right: .5%;
        }
    }

/*----------------980px+-wide---------------------------------------*/
    @media screen and (min-width: 981px){
        header{
            padding-top: 1.5%;
        }
            header h1, h2{
                margin: 0 1.5%;
                font-size: 2vw;
            }

        #thumbnails{
            margin: 5% 1.5% 0 1.5%;
        }
            #thumbnails a{
                width: 10%;
                padding-right: .5%;
            }

    }
        
     

/*------------------------menu-rules-----------------------------------*/
        nav{
            display: none;
            margin-top: 11%;
            width: 100%;
            height: 100%;
            background:#fff;
            text-align: center;
        }

        nav sup{
            font-family: 'Arial', sans-serif;
            font-size: .5em;
        }

        nav ul{
            list-style: none;
            padding:0;
            margin: 0;
        }

        nav li{
            border-top: 1px solid #000;
            background: #fff;
            padding: 7.4167% 0;
            position: relative;
        
        }

        nav li:hover, a:active{
            background-color:#000;
            color: #fff;
            border-top: #fff;
        }

        li a{
            font-size: 2.2em;
            position: absolute;
            top: 50%;
            left: 50%;
            transform: translate(-50%, -50%);
        }

        .menu-toggle{
            cursor:pointer;
        }

        /*when 'menu' is clicked, display based on rules above*/
        .nav-open nav{
            display: block;
        }

        .nav-open header{
            height: 500px;
            background: #fff;
        }


  





