

 @font-face {
     font-family: "Primetime";
     src: url('PRIMETIME ╕ PERSONAL USE ONLY.ttf');
 }


/*----------border-box-reset---------------------------------*/
* { -moz-box-sizing: border-box; -webkit-box-sizing: border-box; box-sizing: border-box; }

/*----true-for-homepage-smallest-width-first-----------------*/
        body{
            font-family: 'Primetime', sans-serif;
            text-transform: uppercase;
            color: #000;
            font-size: medium;
            position: relative;
        }

        header{
            z-index: 2;
            position: fixed;
            top:0;
            width: 100%;
            height: 100vh;
            padding-top: 3.5%;
        }

            header h1, h2{
                display: inline;
                font-size: 20px;
                margin: 0 4%;
                transition: color .4s ease;
            }

            header h2{
                float: right;
                }

            header h1:hover,h2:hover{
                color: #888;
            } 
            
            .menu-toggle{
                cursor:pointer;
            }

        a{
            color:inherit;
            text-decoration: none;
        }



        #thumbnails{
            background: blue;
            margin: 10% 4% 0 4%;
            display: grid;
            grid-gap: .75vw;
            grid-template-columns: auto auto auto;
            
        }

            #thumbnails h3{
                display: none;
            }

            a img{
                width:100%;
            }

           

/*------------------------menu-rules-----------------------------------*/
    nav{
        display: none;
        width: 100%;
        position: fixed;
        top: 10vw;
        background:#fff;
        text-align: center;
    }
        nav sup{
            font-family: 'Arial', sans-serif;
            letter-spacing: 0;
            font-size:1em;
        }

        .count{
            font-size: .8rem;
        }

        nav ul{
            list-style: none;
            padding:0;
            margin: 0;
        }

        nav li{
            border-top: 1px solid #000;
            background: #fff;
            padding: 7vh 0;
            position: relative;
        
        }

        nav li:hover, .current-category{
            background-color:#000;
            color: #fff;
        }

        li a{
            font-size: 5.4vh;
            width: 100%;
            position: absolute;
            top: 50%;
            left: 50%;
            transform: translate(-50%, -50%);
        }

        a:active{
            color:blue;
        }



    /*when 'menu' is clicked, display based on rules above*/
    .nav-open nav{
        display: block;
    }

    .nav-open header{
        background: #fff;
        
    }

/*=============changes based on width===============================*/

/*--------------765px-to-980px-wide---------------------------------*/
    @media screen and (min-width: 765px) and (max-width: 980px){
        #thumbnails{
            grid-gap: .5vw;
            grid-template-columns: auto auto auto auto auto;
        }
    }

/*----------------980px+-wide---------------------------------------*/
    @media screen and (min-width: 981px){
        header{
            padding-top: 1.5%;
        }
            header h1, h2{
                margin: 0 1.5%;
                font-size: 2vw;
            }

        #thumbnails{
            margin: 5% 1.5% 0 1.5%;
            grid-gap: .5vw;
            grid-template-columns: auto auto auto auto auto auto auto auto auto auto;
        }
           
        nav{
            position: fixed;
            top: 5vw;
        }    
            nav li{padding: 7.3vh 0;}

            li a{font-size: 6.5vh;}
    
          
    
    

    }
        
     




  





